@import url('https://fonts.googleapis.com/css2?family=Festive&family=Merriweather:wght@300&family=Quattrocento&family=Rock+Salt&family=Unna&display=swap');


$mainFont: 'Merriweather', serif; 
$titleFont: 'Quattrocento', serif;
$textFont: 'Unna', serif;
$messageFont: 'Festive', cursive;
$rockyFont: 'Rock Salt', cursive;

.about-cafe {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    background-color: yellowgreen;
    gap: 40px;
    padding-top: 250px;
    height: 250vh;
    position: relative;
    transition: all 1.05s ease;
    overflow: hidden;

  
  
    .text {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      text-align: center;
      width: 20vw;
      margin-left: 10vw;
      transition: all 1.05s ease;
    }
  
    img {
      transform: scale(1.17);

      position: fixed;
      opacity: 0;
      top: 10%;
      left: 60%;
      margin-right: 10vw;
      height: 80vh;
      transition: all 0.55s ease;
      z-index: 2;
    }

  
    .text-1 {
      position: absolute;
      top: 30%;
      left: 7%;
      opacity: 0;
      text-align: start;
      z-index: 2;
      transition: all 0.55s ease;
      font-family: $titleFont;
      width: 40vw;
      white-space: nowrap;
      font-size: 4vw;
      color: #2da1d2;

    }
    span {
        color: #ff6f59;
    }
  
    .text-2 {
      position: absolute;
      color: black;
      top: 45%;
      font-weight: 100;
      opacity: 0;
      text-align: start;
      width: 35vw;
      left: 7%;
      transition: all 0.35s ease;
      z-index: 2;
    }

    @media (max-width: 800px){
      img {
        left: 45%;
        transform: scale(0.8);
      }
    }

    @media (max-width: 500px) {
      .text {
        margin-left: 0;
        width: 32vw;
      }
      img {
        margin-right: 0;
        top: 35%;
        left: 18%;
        width: 280px;
        height: auto;
       
        transform: scale(0.9);
      };
      .text-1,
      .text-2{
        text-align: center;
        
        left: 18%;
        height: auto;
      
        width: 280px;
      }
      .text-1{
        top: 5%;
      }
      .text-2{
        top: 15%;
      }
    }
  }
  