@import url('https://fonts.googleapis.com/css2?family=Festive&family=Merriweather:wght@300&family=Quattrocento&family=Rock+Salt&family=Unna&display=swap');


$mainFont: 'Merriweather', serif; 
$titleFont: 'Quattrocento', serif;
$textFont: 'Unna', serif;
$messageFont: 'Festive', cursive;
$rockyFont: 'Rock Salt', cursive;