@import url('https://fonts.googleapis.com/css2?family=Festive&family=Merriweather:wght@300&family=Quattrocento&family=Rock+Salt&family=Unna&display=swap');


$mainFont: 'Merriweather', serif; 
$titleFont: 'Quattrocento', serif;
$textFont: 'Unna', serif;
$messageFont: 'Festive', cursive;
$rockyFont: 'Rock Salt', cursive;


$capiBlue: #2da1d2;
$capiRed: #ff6f59;
$capiBg: #e5f7fa;

.message {
    padding-top: 150px;
    background-color: yellowgreen;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    transition: opacity 0.5s ease;

    .o-cara {
       
        position: absolute;
        top: -500px;
        left: -30vw;
        opacity: 0;
        transition: opacity 0.5s ease;
        filter: grayscale(100%) brightness(1) contrast(0.8);
        img {
            
            width: 210vw;
            min-width: 2000px;
        }
    }
}



.message {


h1 {
    text-align: start;
    position: absolute;
    left: 15%;
    
    font-family: $textFont;
    font-weight: 100;
    font-size: 9vw;
    text-transform: lowercase;
    color: $capiBlue;
    position: relative; 
    z-index: 1;
    
    span {
        text-transform: lowercase;
        font-family: $messageFont;
        color: $capiRed;
    }; 
};
};

