@import url("https://fonts.googleapis.com/css2?family=Festive&family=Merriweather:wght@300&family=Quattrocento&family=Rock+Salt&family=Unna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&family=Merriweather:wght@300&family=Quattrocento&family=Rock+Salt&family=Unna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&family=Merriweather:wght@300&family=Quattrocento&family=Rock+Salt&family=Unna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&family=Merriweather:wght@300&family=Quattrocento&family=Rock+Salt&family=Unna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&family=Merriweather:wght@300&family=Quattrocento&family=Rock+Salt&family=Unna&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 300vh;
}

.box {
  width: 15vw;
  height: 250px;
  overflow: hidden;
}

.line1-letter,
.line2-letter,
.line3-letter,
.line4-letter {
  font-family: "Quattrocento", serif;
  font-size: 15vw;
  line-height: 280px;
  position: relative;
  left: -330px;
  transition: all 0.25s linear;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 320px;
  gap: 60px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.header::before {
  content: "";
  background-image: url(./Pedraazul.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: greenyellow;
  filter: grayscale(100%) brightness(0.8) contrast(1.5); /* Add this line to make the background black and white */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.9s ease;
}

.main-line1,
.main-line2,
.main-line3,
.main-line4 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  color: #4C2E05;
}

.main-line4 {
  padding-right: -15px;
  margin-right: -15px;
}

.espirito-santo {
  z-index: 2;
  margin-top: -100px;
}
.espirito-santo h1 {
  color: #2da1d2;
  font-family: "Merriweather", serif;
  font-size: 100px;
  z-index: 2;
}
.espirito-santo h1 span {
  color: #ff6f59;
}

.message {
  height: 300vh;
}

@media (max-width: 1000px) {
  .box {
    width: 17vw;
  }
}
@media (max-width: 800px) {
  .espirito-santo {
    margin-left: 5vw;
  }
  .espirito-santo h1 {
    font-size: 80px;
  }
  .box {
    width: 17vw;
  }
}
.about-cafe {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  background-color: yellowgreen;
  gap: 40px;
  padding-top: 250px;
  height: 250vh;
  position: relative;
  transition: all 1.05s ease;
  overflow: hidden;
}
.about-cafe .text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  width: 20vw;
  margin-left: 10vw;
  transition: all 1.05s ease;
}
.about-cafe img {
  transform: scale(1.17);
  position: fixed;
  opacity: 0;
  top: 10%;
  left: 60%;
  margin-right: 10vw;
  height: 80vh;
  transition: all 0.55s ease;
  z-index: 2;
}
.about-cafe .text-1 {
  position: absolute;
  top: 30%;
  left: 7%;
  opacity: 0;
  text-align: start;
  z-index: 2;
  transition: all 0.55s ease;
  font-family: "Quattrocento", serif;
  width: 40vw;
  white-space: nowrap;
  font-size: 4vw;
  color: #2da1d2;
}
.about-cafe span {
  color: #ff6f59;
}
.about-cafe .text-2 {
  position: absolute;
  color: black;
  top: 45%;
  font-weight: 100;
  opacity: 0;
  text-align: start;
  width: 35vw;
  left: 7%;
  transition: all 0.35s ease;
  z-index: 2;
}
@media (max-width: 800px) {
  .about-cafe .text {
    margin-left: 0;
    width: 32vw;
  }
  .about-cafe img {
    margin-right: 0;
    top: 35%;
    left: 18%;
    width: 280px;
    height: auto;
    transform: scale(0.9);
  }
  .about-cafe .text-1,
  .about-cafe .text-2 {
    text-align: center;
    height: auto;
    width: 280px;
  }
  .about-cafe .text-1 {
    left: 5%;
    top: 5%;
    font-size: 10vw;
  }
  .about-cafe .text-2 {
    top: 15%;
    left: 18%;
  }
}

.message {
  padding-top: 150px;
  background-color: yellowgreen;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  transition: opacity 0.5s ease;
}
.message .o-cara {
  position: absolute;
  top: -500px;
  left: -30vw;
  opacity: 0;
  transition: opacity 0.5s ease;
  filter: grayscale(100%) brightness(1) contrast(0.8);
}
.message .o-cara img {
  width: 210vw;
  min-width: 3000px;
}

.message h1 {
  text-align: start;
  position: absolute;
  left: 15%;
  font-family: "Unna", serif;
  font-weight: 100;
  font-size: 9vw;
  text-transform: lowercase;
  color: #2da1d2;
  position: relative;
  z-index: 1;
}
.message h1 span {
  text-transform: lowercase;
  font-family: "Festive", cursive;
  color: #ff6f59;
}
@media (max-width: 800px) {
  .message h1 {
    font-size: 20vw;
    text-align: center;
    left: 2%;
  }
}

.historia {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #e5f7fa;
  height: 300vh;
  will-change: height;
}

@media (max-width: 900px) {
  .historia {
    height: auto; /* Change the height to 'auto' for content-based height */
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.sticky {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 90vw;
}
@media (max-width: 900px) {
  .sticky {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 380vw;
  }
}

.scroll-section {
  position: absolute;
  top: 0;
  height: 100%;
  width: 60vw;
  will-change: transform;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5vw;
  gap: 10vw;
}
@media (max-width: 900px) {
  .scroll-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
  }
}

img {
  width: 400px;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 900px) {
  img {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: none;
       object-position: none;
  }
}

.foto-2 {
  width: 90vw;
}
@media (max-width: 900px) {
  .foto-2 {
    width: 400px;
  }
}

.historia-title {
  width: 80vw;
  font-size: 2.2vw;
  font-family: "Quattrocento", serif;
  margin: 150px 0;
  color: black;
  text-align: center;
}

.contact {
  background-color: #ff6f59;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10vw;
  padding: 100px;
}
@media (max-width: 600px) {
  .contact {
    align-items: center;
    flex-direction: column;
  }
}
.contact .contact-title {
  display: flex;
  align-items: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 30px;
  font-family: "Quattrocento", serif;
  color: black;
}
.contact .contact-data {
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  text-align: start;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */